<div>
  <p><span>Start:</span><%= @booking.start %></p>
  <p><span>End:</span><%= @booking.end %></p>
  <p><span>Purpose:</span><%= @booking.purpose %></p>
  <p><span>Room:</span><%= @booking.room.name %></p>
</div>
