<div>
  <p><span>Start:</span><%= @booking.start %></p>
  <p><span>End:</span><%= @booking.end %></p>
  <p><span>Capacity:</span><%= @booking.capacity %></p>
  <p><span>Room:</span><%= @booking.room.name %></p>
</div>
